In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

import itertools

In [4]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf

In [5]:
from sklearn.preprocessing import LabelBinarizer, LabelEncoder
from sklearn.metrics import confusion_matrix
from tensorflow import keras

In [13]:
from tensorflow.keras.layers import SimpleRNN

In [15]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, SimpleRNN

In [35]:
data1 = pd.read_csv("Roman Urdu DataSet.csv")
data = data1.copy()

In [36]:
del data['Unnamed: 2']
data

                                                Sentence    Status
0      Sai kha ya her kisi kay bus ki bat nhi hai lak...  Positive
1                                              sahi bt h  Positive
2                                            Kya bt hai,  Positive
3                                             Wah je wah  Positive
4                                   Are wha kaya bat hai  Positive
...                                                  ...       ...
20224           Hamari jese awam teli laga k mazay leti   Negative
20225  Kaash hum b parhay likhay hotayKabhi likhtay g...  Negative
20226  Bahi sayasat kufrrr ha saaaf bttttt ha qanon s...  Negative
20227                     aanti toh gussa e kr gai hain   Negative
20228  mai b sirf shadi kanry ki waja say imran khan ...  Positive

[20229 rows x 2 columns]

In [37]:
data.shape

(20229, 2)

In [38]:
data.head(10)

                                            Sentence    Status
0  Sai kha ya her kisi kay bus ki bat nhi hai lak...  Positive
1                                          sahi bt h  Positive
2                                        Kya bt hai,  Positive
3                                         Wah je wah  Positive
4                               Are wha kaya bat hai  Positive
5                                 Wah kya baat likhi  Positive
6                              Wha Itni sari khubiya  Positive
7                                       Itni khubiya  Positive
8  Ya allah rehm farma hm sab pe or zalimo ko hid...  Positive
9  Please Everyone AllAh S.w.T ka naam hAmesha Ba...  Positive

In [39]:
data['Status'].value_counts()

Neutral     8929
Positive    6013
Negative    5287
Name: Status, dtype: int64

In [40]:
data[data['Status']=='Neutral']

                                           Sentence   Status
3762                                     hakeqat hy  Neutral
3763                     Aor aisy bahut km hain ryt  Neutral
3764                                   jee ye to he  Neutral
3765                   Hmm jysa kro gy wysa bhru gy  Neutral
3766             Ye kia hoa raha hain Pakistan main  Neutral
...                                             ...      ...
20200               aunti ny uncle ko kaha tha bhao  Neutral
20201                    tere liye nai anti k liye   Neutral
20203        koi bt ni haaar admi ka apna zaaarf ha  Neutral
20208  Is aunty ko parliment me hona chahiye hehehe  Neutral
20216                                   ini kafi ay  Neutral

[8929 rows x 2 columns]

In [41]:
data.drop(data.index[3762:4762] , inplace = True)

In [44]:
data['Status'].value_counts()

Neutral     7929
Positive    6013
Negative    5287
Name: Status, dtype: int64

In [45]:
data.shape

(19229, 2)

In [46]:
from sklearn.utils import shuffle

In [47]:
data = shuffle(data)

In [51]:
data.head(12)

                                                Sentence    Status
5977   Roshan ne 1958, 1960,aur 1961 mein Us open tit...   Neutral
6488   dekhna ye hai kay Imran Khan siasat mein bhi a...   Neutral
15862                                       Oulad ho jay   Neutral
2218   Main naik niyati se apne kaam par tawajja mark...  Positive
5171                               HAHAHAHAHA EXACTLY :p   Neutral
15267   Pichla juma meny muhammadi masjid me ada kia tha   Neutral
10251                    hahah kya pta wo sab se aggy ho  Negative
13699               hmare saath aisa hi hua tha Papers m   Neutral
11551  PTI Ne Phir Ayaz Sadiq Ki Kamyabi Challenge Ka...  Negative
4802                                    Same here bro :p   Neutral
13647                Abyy ksmyyy shi kah rha hai bechara  Negative
5385                            3 Aug Se School Kholenge   Neutral

In [55]:
data.set_index(np.arange(1,19228))

ValueError: Length mismatch: Expected 19229 rows, received array of length 19227